@model Đồ_Án_BackUp.Models.ShoppingCart

@{
    ViewBag.Title = "AddItems";
    Layout = "~/Areas/Users/Views/Shared/_UserMasterLayout.cshtml";
}

<h2>AddItems</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    @if (ViewBag.Error != null)
    {
        <h3 style="color:red">@ViewBag.Error</h3>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
